.navbar {
  position: sticky;
  top: 0;
  /* background-color: #ffffff; */
  /* background: rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;
  border-bottom: 1px solid #dddddd;
  z-index: 10;
}

/* logo  */

.logo a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #fc395c;
}

.logo svg {
  font-size: 1.6rem;
}

.logo h1 {
  font-size: 1.4rem;
}

/* menu  */

.menu {
  background-color: #ffffff;
  position: relative;
  padding: 0.5rem;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px #dddddd;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.menu:hover {
  box-shadow: 1px 3px 3px #dddddd;
}

.menu .profile {
  display: flex;
  gap: 0.8rem;
}

.menu .profile svg {
  font-size: 1.2rem;
  color: #717171;
}

.menu .navigation {
  position: absolute;
  display: none;
  flex-direction: column;
  right: 0;
  top: 2.5rem;
  background-color: #ffffff;
  width: 12rem;

  padding: 1rem 0;
  border: 1px solid #dddddd;
  border-radius: 1rem;
}

.menu .active {
  display: flex;
}

.menu .navigation a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #222222;
  padding: 0.8rem 0;
  padding-left: 0.7rem;
  transition: 0.4s;
  font-weight: 500;
}

.menu .navigation a svg {
  font-size: 1.2rem;
}

.menu .navigation a:hover {
  background-color: #dddddd;
}
