.filters {
  background: linear-gradient(#dddddd, #edf2f7);
  padding: 1rem 2rem;
}

.filters p {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  color: #222222;
  cursor: pointer;
}

.filters p svg {
  font-size: 1.2rem;
}

.filtersContent {
  margin-top: 1rem;
  padding: 1rem 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.filtersContent.active {
  display: flex;
}

.filter select {
  background-color: #ffffff;
  padding: 0.2rem 0.3rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

/* ================MEDIA QUERIES ================  */

@media screen and (max-width: 850px) {
  .filtersContent {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .filters {
    padding: 0.5rem 1rem;
  }

  .filters p {
    font-size: 1rem;
  }

  .filtersContent {
    gap: 1rem;
    margin-top: 0.5rem;
  }
  .filter select {
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .filters {
    padding: 0.5rem;
  }

  .filtersContent {
    gap: 1.5rem;
    margin-top: 0.5rem;
  }
}
