.footer {
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
}

.footer p {
  color: #222222;
}

.footer span {
  font-size: 1.1rem;
  color: #fc395c;
}

/* ======MEDIA QUERIES ===========  */

@media screen and (max-width: 450px) {
  .footer {
    padding: 0.6rem 1rem;
  }
}
