.examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.2rem;
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.top img {
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
}

.property {
  background-color: #dddddd;
  border-radius: 0.2rem;
  transition: 0.4s;
}

.property:hover {
  box-shadow: 1px 2px 4px #717171;
}

.bottom {
  padding-bottom: 1rem;
}

.agency {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.agency img {
  border-radius: 50%;
  object-fit: cover;
}

.price {
  display: flex;
  gap: 0.4rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222222;
}

.price svg {
  color: green;
}

.description p {
  color: #222222;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.description svg {
  color: #fc395c;
  margin: 0 1rem;
}

.description .text {
  color: #222222;
}

/* ==========MEDIA QUERIES =================== */

@media screen and (max-width: 1100px) {
  .examples {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 850px) {
  .examples {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 450px) {
  .examples {
    padding: 0 0.5rem;
  }
  .bottom {
    padding-bottom: 0.8rem;
  }
  .agency {
    padding: 0.3rem 0.5rem;
  }
  .price {
    font-size: 1rem;
  }
}
