.propertydetails {
  min-height: 100vh;
  background-color: #ffffff;
  color: #222222;
  padding: 2rem;
  z-index: -1;
}

.top {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 1rem;
  position: relative;
}

.top .allPhotos {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: #fc395c;
  padding: 0.4rem 0.5rem;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 1.2rem;
  border: 1px solid transparent;
  transition: 0.4s;
}

.top a:hover {
  background-color: #ffffff;
  color: #fc395c;
  border-color: #fc395c;
}

.top a svg {
  font-size: 1.5rem;
  transition: 0.4s;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.top img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.bottom {
  padding: 0 2rem;
  padding-bottom: 2rem;
  background-color: #dddddd;
}

.agency {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 0;
  align-items: center;
}

.agency img {
  border-radius: 50%;
  object-fit: cover;
}

.price {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #222222;
  letter-spacing: 1px;
}

.price svg {
  color: green;
}

.description p {
  color: #222222;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.description svg {
  font-size: 1.5rem;
  color: #fc395c;
  margin: 0 1rem;
}

.rooms {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.text {
  line-height: 1.4rem;
}

.flexwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.flexwrap span {
  font-size: 1.4rem;
  font-weight: 600;
}

.flexwrap p {
  margin-top: 0.2rem;
  text-transform: capitalize;
}

.facilities {
  margin-top: 2rem;
}

.facilities h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.facility {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.facility p {
  background-color: #ffffff;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  color: #222222;
  font-size: 0.9rem;
}

/* =============MEDIA QUERIES ============== */

@media screen and (max-width: 1100px) {
  .propertydetails {
    padding: 2rem 1rem;
  }
  .top {
    flex-direction: column;
  }
  .bottom {
    padding: 0 1rem;
    padding-bottom: 2rem;
    border-radius: 0 0 5px 5px;
  }
}

@media screen and (max-width: 850px) {
  .propertydetails {
    padding: 1rem 0.5rem;
  }

  .bottom {
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .top {
    gap: 0.2rem;
  }

  .top a svg {
    font-size: 1.2rem;
  }

  .top .allPhotos {
    font-size: 1rem;
  }

  .right {
    gap: 0.2rem;
  }

  .bottom {
    padding: 1rem 0.2rem;
    padding-top: 0;
  }

  .agency {
    padding: 0.4rem 0;
  }

  .agency img {
    width: 60px;
    height: 60px;
  }

  .price {
    font-size: 1.2rem;
  }

  .description p {
    font-size: 1rem;
  }

  .title {
    font-size: 1.2rem !important;
  }
  .text {
    line-height: 1.3rem;
  }

  .flexwrap {
    padding: 0 0.2rem;
  }

  .flexwrap span {
    font-size: 1.2rem;
  }

  .facilities {
    padding: 0.2rem;
  }
  .facilities h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 420px) {
  .top {
    gap: 0.1rem;
  }
  .top a svg {
    font-size: 1.1rem;
  }

  .top .allPhotos {
    font-size: 0.9rem;
    bottom: 1rem;
    padding: 0.3rem 0.4rem;
  }

  .agency img {
    width: 50px;
    height: 50px;
  }

  .rooms {
    font-size: 1rem !important;
  }

  .description p {
    font-size: 0.9rem;
  }

  .facilities {
    margin-top: 1rem;
  }

  .facility {
    gap: 0.5rem;
  }
}
